.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container h1 {
    font-size: 40px;  
}

.content {
/* border: solid 1px rgb(0, 89, 255); */
background-color: white;
display: flex;
justify-content: space-around;
flex-direction: column;
width: 700px;
}

.card button {
    background-color: #222;
    color: #fff;
    padding: 1em 1.5em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
}

.card button:hover {
    background-color: #ffbb33;
    color: #222;
}