.produto {
    border: solid 0.5px rgba(0, 0, 0, 0.151);
    width: 310px;
    height: 270px;
    padding: 0;
    margin: 0;
}

.produto:hover > .botao_car {
    display: flex;
}

.preco {    
    font-size: 16px;
}

.foto {
    height: 50%;
    /* border: red 1px solid; */
}

.info {
    padding: 10px;
    /* border: solid blue 1px; */
    height: 50%;
    
}

.info h1 {
    text-align: center;
    font-size: 20px;
    padding: auto;
    margin: auto;
    /* border: yellow solid 1px; */
}

.botao_car {
    height: 50px;
    /* border: solid rgb(30, 255, 0) 1px; */
    display: none;
    background-color: #ffbb33;
    justify-content: center;
    align-items: center;
}

.botao_car:hover {
    background-color: #222;
    color: #ffbb33;
    transition: 0.5s;
    cursor: pointer;
}